<!doctype html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='styles.css')}}"/>
<script src="https://code.jquery.com/jquery-latest.js"></script>
<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
<meta http-equiv="Pragma" content="no-cache">
<meta http-equiv="Expires" content="0">
	<title> Demo </title>
</head>
<body>
<div id="wrapper">
    <a href="/" style="text-decoration:none; color:black"><span style="display:block" id="Top">Demo</span></a>
    <p id="explanation">Click on one of the marked entities!<br> It might take a while to compute the graph.</p>
    <p id="display">
    </p>
</div>
<script src="{{url_for('static', filename='display.js')}}"></script>
</body>
</html>