<!doctype html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='styles.css')}}"/>
<script src="https://code.jquery.com/jquery-latest.js"></script>
	<title> Demo </title>
</head>
<body>
<div id="wrapper">
    <a href="/" style="text-decoration:none; color:black"><span style="display:block" id="Top">Demo</span></a>
    <p id="explanation">Click on one of the marked entities!</p>
    <p id="display">
    </p>
</div>
<script src="{{url_for('static', filename='display.js')}}"></script>
</body>
</html>