<!doctype html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='styles.css')}}"/>
<script src="https://code.jquery.com/jquery-latest.js"></script>
<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
<meta http-equiv="Pragma" content="no-cache">
<meta http-equiv="Expires" content="0">
	<title> Demo </title>
</head>
<body>
<div id="wrapper">
    <a href="/" style="text-decoration:none; color:black"><span style="display:block" id="Top">Demo</span></a>
	<div id="books">
        <p>
            <button type="button" class="button" onclick="load_book(1)">Harry Potter and the Sorcerer Stone</button>
            <button type="button" class="button" onclick="load_book(2)">Harry Potter and the Chamber of Secrets</button>
        </p>
        <p>
            <button type="button" class="button" onclick="load_book(3)">Harry Potter and the Prisoner of Azkaban</button>
            <button type="button" class="button" onclick="load_book(4)">Harry Potter and the Order of the Phoenix</button>
        </p>
    </div>
    <div id="textfield">
        <p>OR<br></p>
        <label for="owntext">Enter your own text (only English):</label><br>
        <textarea id="owntext" maxlength="20000" type="text" placeholder="Write your text here..."></textarea><br>
        <input name="submit" type="submit"  id="submit1" value="Continue" />
    </div>
</div>
<script src="{{url_for('static', filename='startpage.js')}}"></script>
</body>
</html>